**보스턴** **집값** **예측**

In [1]:
import tensorflow as tf
import pandas as pd

In [6]:
#데이터 준비
file = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(file)
print(boston.columns)
boston.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [7]:
#독립변수, 종속변수 분리
x_var = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
y_var = boston[['medv']]
print(x_var.shape,y_var.shape)

(506, 13) (506, 1)

In [9]:
#모델
x = tf.keras.layers.Input(shape=[13])
y = tf.keras.layers.Dense(1)(x)
model = tf.keras.models.Model(x,y)
model.compile(loss='mse')

In [12]:
#학습
model.fit(x_var,y_var,epochs=100,verbose=0)

In [13]:
#예측
model.predict(x_var[0:5])

array([[28.94856 ],
       [23.693153],
       [30.299795],
       [29.156042],
       [28.747976]], dtype=float32)

In [17]:
y_var[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [18]:
#모델 수식 확인
model.get_weights()

[array([[-0.09255214],
        [ 0.05007173],
        [-0.04001128],
        [ 2.740016  ],
        [ 1.5803856 ],
        [ 5.2961173 ],
        [-0.01236194],
        [-0.9932153 ],
        [ 0.18357985],
        [-0.01142991],
        [-0.419978  ],
        [ 0.01271964],
        [-0.46812794]], dtype=float32), array([4.244497], dtype=float32)]