<a href="https://colab.research.google.com/github/rktn0905/Tensorflow101/blob/main/Iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Iris** **품종** **분류**

In [2]:
import tensorflow as tf
import pandas as pd

In [3]:
#데이터
file = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'
iris = pd.read_csv(file)
iris.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭      품종
0   5.1  3.5    1.4   0.2  setosa
1   4.9  3.0    1.4   0.2  setosa
2   4.7  3.2    1.3   0.2  setosa
3   4.6  3.1    1.5   0.2  setosa
4   5.0  3.6    1.4   0.2  setosa

In [4]:
#원핫인코딩: 범주형 데이터를 0과 1로 바꾸어 주는 과정
incoding = pd.get_dummies(iris)
incoding.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_setosa  품종_versicolor  품종_virginica
0   5.1  3.5    1.4   0.2          1              0             0
1   4.9  3.0    1.4   0.2          1              0             0
2   4.7  3.2    1.3   0.2          1              0             0
3   4.6  3.1    1.5   0.2          1              0             0
4   5.0  3.6    1.4   0.2          1              0             0

In [5]:
print(incoding.columns)

Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종_setosa', '품종_versicolor',
       '품종_virginica'],
      dtype='object')

In [7]:
#독립변수 , 종속 변수 분리
x_var = incoding[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
y_var = incoding[['품종_setosa', '품종_versicolor', '품종_virginica']]
print(x_var.shape,y_var.shape)

(150, 4) (150, 3)

In [13]:
#모델의 구조
x = tf.keras.layers.Input(shape=[4])
y = tf.keras.layers.Dense(3,activation='softmax')(x)
model = tf.keras.models.Model(x,y)
model.compile(loss='categorical_crossentropy',metrics='accuracy')

In [19]:
#데이터로 모델을 학습시키기
model.fit(x_var, y_var, epochs=10)

Epoch 1/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0940 - accuracy: 0.9733
Epoch 2/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0939 - accuracy: 0.9733
Epoch 3/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0938 - accuracy: 0.9733
Epoch 4/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0937 - accuracy: 0.9733
Epoch 5/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0937 - accuracy: 0.9733
Epoch 6/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0940 - accuracy: 0.9667
Epoch 7/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0937 - accuracy: 0.9733
Epoch 8/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0938 - accuracy: 0.9733
Epoch 9/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0938 - accuracy: 0.9733
Epoch 10/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0935 - accuracy: 0.9733

In [20]:
#모델을 이용합니다
model.predict(x_var[-5:])

array([[1.2490288e-10, 2.7148444e-02, 9.7285157e-01],
       [5.1868149e-10, 7.1781941e-02, 9.2821801e-01],
       [1.3989552e-09, 1.1079653e-01, 8.8920349e-01],
       [7.4856912e-11, 2.1598304e-02, 9.7840172e-01],
       [4.1241606e-09, 1.7163087e-01, 8.2836908e-01]], dtype=float32)

In [22]:
print(y_var[-5:])

     품종_setosa  품종_versicolor  품종_virginica
145          0              0             1
146          0              0             1
147          0              0             1
148          0              0             1
149          0              0             1

In [23]:
#학습한 가중치
model.get_weights()

[array([[ 1.658415  ,  0.38430268, -1.1416694 ],
        [ 4.377321  ,  0.66767067, -1.7694018 ],
        [-6.441212  , -0.79093134,  1.4402521 ],
        [-6.5688396 , -2.3542042 ,  3.6507118 ]], dtype=float32),
 array([ 2.3897693,  2.177199 , -2.1221192], dtype=float32)]