<a href="https://colab.research.google.com/github/rktn0905/Tensorflow101/blob/main/lemon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**레모네이드** **판매** **예측**

In [ ]:
#라이브러리 사용
import tensorflow as tf
import pandas as pd

In [ ]:
#데이터 준비
file = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
data = pd.read_csv(file)
data.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [ ]:
#종속변수, 독립변수
variable_x = data[['온도']]
variable_y = data[["판매량"]]
print(variable_x.shape, variable_y.shape)

(6, 1) (6, 1)

In [ ]:
#모델
x = tf.keras.layers.Input(shape=[1]) #독립변수 colunm 1
y = tf.keras.layers.Dense(1)(x) #종속변수 colunm 1
model = tf.keras.models.Model(x,y)
model.compile(loss='mse')

In [ ]:
#학습
model.fit(variable_x, variable_y, epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 3ms/step - loss: 1.5724e-04
Epoch 2/10
1/1 [==============================] - 0s 6ms/step - loss: 1.5713e-04
Epoch 3/10
1/1 [==============================] - 0s 5ms/step - loss: 1.5705e-04
Epoch 4/10
1/1 [==============================] - 0s 4ms/step - loss: 1.5699e-04
Epoch 5/10
1/1 [==============================] - 0s 5ms/step - loss: 1.5684e-04
Epoch 6/10
1/1 [==============================] - 0s 4ms/step - loss: 1.5675e-04
Epoch 7/10
1/1 [==============================] - 0s 5ms/step - loss: 1.5671e-04
Epoch 8/10
1/1 [==============================] - 0s 4ms/step - loss: 1.5672e-04
Epoch 9/10
1/1 [==============================] - 0s 4ms/step - loss: 1.5678e-04
Epoch 10/10
1/1 [==============================] - 0s 4ms/step - loss: 1.5684e-04

In [ ]:
#결과
model.predict(variable_x)

array([[40.017025],
       [42.015038],
       [44.01305 ],
       [46.011066],
       [48.00908 ],
       [50.00709 ]], dtype=float32)

In [ ]:
model.predict([20])

array([[40.017025]], dtype=float32)