<a href="https://colab.research.google.com/github/rktn0905/Tensorflow102-CNN/blob/master/Pooling%20Layer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pooling Layer**

In [2]:
import tensorflow as tf
import pandas as pd

In [7]:
#데이터를 준비하고
(x, y), _ = tf.keras.datasets.mnist.load_data()
x = x.reshape(60000,28,28,1)
y = pd.get_dummies(y)
print(x.shape, y.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28, 1) (60000, 10)

In [22]:
# 기존 모델
X = tf.keras.layers.Input(shape=[28,28,1])
H = tf.keras.layers.Conv2D(3,kernel_size = 5, activation='swish')(X)
H = tf.keras.layers.Conv2D(6,kernel_size = 5, activation='swish')(H)
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')
model.summary()

Model: "model_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_7 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d_10 (Conv2D)           (None, 24, 24, 3)         78
_________________________________________________________________
conv2d_11 (Conv2D)           (None, 20, 20, 6)         456
_________________________________________________________________
flatten_5 (Flatten)          (None, 2400)              0
_________________________________________________________________
dense_10 (Dense)             (None, 84)                201684
_________________________________________________________________
dense_11 (Dense)             (None, 10)                850
=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________

In [23]:
# CNN 모델
X = tf.keras.layers.Input(shape=[28,28,1])

H = tf.keras.layers.Conv2D(3,kernel_size = 5, activation='swish')(X)
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Conv2D(6,kernel_size = 5, activation='swish')(H)
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')
model.summary()

Model: "model_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_8 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d_12 (Conv2D)           (None, 24, 24, 3)         78
_________________________________________________________________
max_pooling2d_4 (MaxPooling2 (None, 12, 12, 3)         0
_________________________________________________________________
conv2d_13 (Conv2D)           (None, 8, 8, 6)           456
_________________________________________________________________
max_pooling2d_5 (MaxPooling2 (None, 4, 4, 6)           0
_________________________________________________________________
flatten_6 (Flatten)          (None, 96)                0
_________________________________________________________________
dense_12 (Dense)             (None, 84)                8148
_________________________________________________________________
dense_13 (Dense)             (None, 10)                850
=================================================================
Total params: 9,532
Trainable params: 9,532
Non-trainable params: 0
_________________________________________________________________

In [27]:
#모델을 학습하고
model.fit(x,y,epochs=10)

Epoch 1/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0688 - accuracy: 0.9808
Epoch 2/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0659 - accuracy: 0.9818
Epoch 3/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0637 - accuracy: 0.9824
Epoch 4/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0672 - accuracy: 0.9816
Epoch 5/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0659 - accuracy: 0.9822
Epoch 6/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0649 - accuracy: 0.9830
Epoch 7/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0660 - accuracy: 0.9823
Epoch 8/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0654 - accuracy: 0.9829
Epoch 9/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0647 - accuracy: 0.9827
Epoch 10/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0651 - accuracy: 0.9830

In [28]:
#모델을 이용
pred = model.predict(x[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3     4    5    6    7    8     9
0  0.0  0.0  0.0  0.0  0.00  1.0  0.0  0.0  0.0  0.00
1  1.0  0.0  0.0  0.0  0.00  0.0  0.0  0.0  0.0  0.00
2  0.0  0.0  0.0  0.0  1.00  0.0  0.0  0.0  0.0  0.00
3  0.0  1.0  0.0  0.0  0.00  0.0  0.0  0.0  0.0  0.00
4  0.0  0.0  0.0  0.0  0.13  0.0  0.0  0.0  0.0  0.87

In [29]:
y[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1