<a href="https://colab.research.google.com/github/rktn0905/Tensorflow102-CNN/blob/master/Conv2D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Convoution Layer**

In [2]:
import tensorflow as tf
import pandas as pd

In [7]:
#데이터를 준비하고
(x, y), _ = tf.keras.datasets.mnist.load_data()
print(x.shape, y.shape)

x = x.reshape(60000,28,28,1)
y = pd.get_dummies(y)
print(x.shape, y.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28, 1) (60000, 10)

In [12]:
#모델을 만들고
X = tf.keras.layers.Input(shape=[28,28,1])
H = tf.keras.layers.Conv2D(3,kernel_size = 5, activation='swish')(X)
H = tf.keras.layers.Conv2D(6,kernel_size = 5, activation='swish')(H)
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [13]:
#모델을 학습하고
model.fit(x,y,epochs=10)

Epoch 1/10
1875/1875 [==============================] - 13s 3ms/step - loss: 0.6180 - accuracy: 0.8809
Epoch 2/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0752 - accuracy: 0.9785
Epoch 3/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0457 - accuracy: 0.9870
Epoch 4/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0350 - accuracy: 0.9901
Epoch 5/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0224 - accuracy: 0.9939
Epoch 6/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0169 - accuracy: 0.9951
Epoch 7/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0148 - accuracy: 0.9954
Epoch 8/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0132 - accuracy: 0.9962
Epoch 9/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0140 - accuracy: 0.9960
Epoch 10/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0119 - accuracy: 0.9967

In [14]:
#모델을 이용
pred = model.predict(x[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [16]:
y[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [17]:
model.summary()

Model: "model_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_4 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d_4 (Conv2D)            (None, 24, 24, 3)         78
_________________________________________________________________
conv2d_5 (Conv2D)            (None, 20, 20, 6)         456
_________________________________________________________________
flatten_2 (Flatten)          (None, 2400)              0
_________________________________________________________________
dense_4 (Dense)              (None, 84)                201684
_________________________________________________________________
dense_5 (Dense)              (None, 10)                850
=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________