<a href="https://colab.research.google.com/github/rktn0905/Tensorflow102-CNN/blob/master/Flatten.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Flatten Layer를 활용한 이미지 학습**


*   특징 자동 추출

In [1]:
import tensorflow as tf
import pandas as pd

**With reshape**

In [4]:
#데이터를 준비하고
(x,y), _ = tf.keras.datasets.mnist.load_data()
print(x.shape,y.shape)

x = x.reshape(60000, 784)
y = pd.get_dummies(y)
print(x.shape,y.shape)

(60000, 28, 28) (60000,)
(60000, 784) (60000, 10)

In [9]:
#모델을 만들고
X = tf.keras.layers.Input(shape=[784])
H = tf.keras.layers.Dense(84, activation='swish')(X)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy',metrics='accuracy')

In [11]:
#모델을 학습하고
model.fit(x, y, epochs=5)

Epoch 1/5
1875/1875 [==============================] - 3s 2ms/step - loss: 0.1983 - accuracy: 0.9766
Epoch 2/5
1875/1875 [==============================] - 3s 2ms/step - loss: 0.1817 - accuracy: 0.9762
Epoch 3/5
1875/1875 [==============================] - 3s 2ms/step - loss: 0.1880 - accuracy: 0.9771
Epoch 4/5
1875/1875 [==============================] - 3s 2ms/step - loss: 0.1837 - accuracy: 0.9759
Epoch 5/5
1875/1875 [==============================] - 3s 2ms/step - loss: 0.1897 - accuracy: 0.9771

In [15]:
#모델을 이용한다
pred = model.predict(x[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [17]:
y[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

**with flatten**

In [19]:
#데이터를 준비하고
(x,y), _ = tf.keras.datasets.mnist.load_data()
print(x.shape,y.shape)

y = pd.get_dummies(y)
print(x.shape,y.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28) (60000, 10)

In [21]:
#모델을 만들고
X = tf.keras.layers.Input(shape=[28,28])
H = tf.keras.layers.Flatten()(X)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy',metrics='accuracy')

In [23]:
#모델을 학습하고
model.fit(x, y, epochs=5)

Epoch 1/5
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3904 - accuracy: 0.9457
Epoch 2/5
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3742 - accuracy: 0.9470
Epoch 3/5
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3576 - accuracy: 0.9507
Epoch 4/5
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3442 - accuracy: 0.9530
Epoch 5/5
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3448 - accuracy: 0.9537

In [24]:
#모델을 이용한다
pred = model.predict(x[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [25]:
y[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1